<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ncprivatedata;AccountKey=WqaMHF7XTwX/Ud/maWbg3+NxBl5G2xZ0rT1V2N70waBV8MOyIfhLoyvtDvNgQbxqpA3I5HfysjeCW/ZMBWQ89Q==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
